body {
  background-image: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/gray_jean.png);
  background-position: initial initial;
  background-repeat: initial initial;
}

.container {
  width: 1260px;
}

#recents {
  overflow-y: auto
}

#selected {
  overflow-y: auto
}

#favorites {
  overflow-y: auto
}

#all {
  overflow-y: auto
}

.row-fluid {
  border-bottom: 1px solid #333;
}

.row-fluid .row {
  padding:5px 10px;
}

.align-right {
  text-align: right;
}

@media (min-width: 768px){
    .fivecolumns .span2 {
        width: 18.297872340425532%;
        *width: 18.2234042553191494%;
    }
}
@media (min-width: 1200px) {
    .fivecolumns .span2 {
        width: 17.9487179487179488%;
        *width: 17.87424986361156592%;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .fivecolumns .span2 {
        width: 17.79005524861878448%;
        *width: 17.7155871635124022%;
    }
}

.messageListSelector {
  cursor: pointer;
  padding: 1px 3px 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 1px;
}

/*
Color brewer Set2 :
["#66c2a5","#fc8d62","#8da0cb","#e78ac3","#a6d854"]
*/
.messageListSelector-1:hover,
.messageListSelector-1.active {
  background-color:#66c2a5;
}

.messageListSelector-2:hover,
.messageListSelector-2.active {
  background-color:#fc8d62;
}

.messageListSelector-3:hover,
.messageListSelector-3.active {
  background-color:#8da0cb;
}

.messageListSelector-4:hover,
.messageListSelector-4.active {
  background-color:#e78ac3;
}

.messageListSelector-5:hover,
.messageListSelector-5.active {
  background-color:#a6d854;
}

.list_title {
  display: block;
  width: 100%;
}

.list_title h3 {
  display: inline;
}

.list_title input {
  margin-top: 10px;
  width: 50%;
}

input.quota {
  width: 20px;
}

.selected_count {
  font-weight: bold;
}
.selected_count.warning {
  color: orange;
}
.selected_count.over {
  color: red;
}
